body {
  overflow-x: hidden;
}

.App {
  text-align: center;

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
    }
  }

  .outer-info {
    .data {
      // display: flex;
      justify-content: center;

      .comments-posts {
        display: flex;
        flex-direction: column;
        align-items: center;

      }

      .title {
        width: 100%;
        font-size: 24px;
        color: #4980AE;
        background: #CEE3F8;
        padding: 20px;
      }

      .info-wrapper {
        // margin: none;
        width: 100%;
        // border: 1px solid blue;
        display: flex;
        // padding-bottom: 30px;
        border-bottom: 1px solid #838383;
        box-sizing: border-box;
        // padding-left: 60px;
        // padding-right: 60px;
        padding: 30px 60px;

        .info {
          width: 90%;
          text-align: left;
          padding-left: 20px;
          display: flex;
          align-items: center;

          .url {
            text-decoration: none;
            color: #000000;
          }
        }

        .score {
          width: 60px;
          height: 60px;
          line-height: 60px;
          background: #CEE3F8;
        }
      }
    }
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
