body {
  overflow-x: hidden; }

.App {
  text-align: center; }
  .App .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white; }
    .App .App-header .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px; }
  .App .outer-info .data {
    justify-content: center; }
    .App .outer-info .data .comments-posts {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .App .outer-info .data .title {
      width: 100%;
      font-size: 24px;
      color: #4980AE;
      background: #CEE3F8;
      padding: 20px; }
    .App .outer-info .data .info-wrapper {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #838383;
      box-sizing: border-box;
      padding: 30px 60px; }
      .App .outer-info .data .info-wrapper .info {
        width: 90%;
        text-align: left;
        padding-left: 20px;
        display: flex;
        align-items: center; }
        .App .outer-info .data .info-wrapper .info .url {
          text-decoration: none;
          color: #000000; }
      .App .outer-info .data .info-wrapper .score {
        width: 60px;
        height: 60px;
        line-height: 60px;
        background: #CEE3F8; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
