.App {
  text-align: center; }
  .App .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white; }
    .App .App-header .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px; }
  .App .info .data {
    justify-content: center; }
    .App .info .data .comments-posts {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .App .info .data .title {
      width: 100%;
      font-size: 24px;
      color: #4980AE;
      background: #CEE3F8;
      padding: 20px; }
    .App .info .data .info-wrapper {
      width: 90%;
      display: flex;
      padding-bottom: 30px; }
      .App .info .data .info-wrapper .info {
        width: 90%; }
      .App .info .data .info-wrapper .score {
        width: 10%;
        background: #CEE3F8; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
